* {
    
    padding: 0;
    box-sizing: border-box;
  }

body {
  width: 900px;
  background: #C2C2C2;
  margin: auto;
  height: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  text-align: center;
  
  }


/** header */
.head { 
  width: 900px;     
  height: 100px;    
  background-color: #c2c2c2;
  margin-bottom: 5px;
  
}
 
#title {
  position:relative;
  margin-left: 120px;
  bottom: -20px;
  float: left;
}

#mainmenu {
  position: relative;
  left: 0%;
  top:80px;
  
}

#mainmenu li {
  position: relative;
  display: inline;
  
  margin:0 10px;
  
}

#mainmenu ul li a {
  color: #646464;
  text-decoration:none;

}
  #mainmenu ul li a:hover {
  background-color: #989898;
}
#menu a {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 2.5em;
  line-height: 2.4em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: #000;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: #c2c2c2, rgb(89,106,114));
  box-shadow:
   0 -1px rgba(10,21,28,.9) inset,
   0 1px rgba(255,255,255,.5) inset;
   top: -20px;
}
#menu a:hover {
  background: linear-gradient(#d2dfea, #71828c);
}
#menu a:active {
  line-height: 2.6em;
  
}
#menu a:before {
  content: "";
  position: absolute;
  top: -10px; right: -10px; bottom: -10px; left: -10px;
  z-index: -1;
  border-radius: 8px;
  
}


/** center */
.content {
  width: 900px;
  height: 630px;
  background-color: #c2c2c2;
}



 
/** footer */
#footer { 
  width: 750px;     
    height: 100px;
  background-color: grey;
  border-radius: 10px;
  position: relative;
  left: 90px;
}
.copyright {
  position: relative;
  text-align: right;
  left: 300px;
  bottom: -20px;
}

.email {
  position: relative;
  text-align: left;
  left: 50px;
  bottom: -25px;
}

footer .foot {
  position: relative;
  left: 0px;
    text-align: left;
    float: right;
}


ul {
  margin: 30px auto;
  text-align: center;
}

  li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }